{% extends 'layouts/base.html' %}

{% block content %}
<!-- <main class="container py-5" style="padding-top: 6rem !important;">
    <section class="card card-body">
        <h1 class="display-1 text-center" style="font-size: 4rem;">SI: Gestión de Proyectos de Software</h1>
        <p>
            La gestión de proyectos de software hace referencia a la rama de la gestión de proyectos dedicada a la
            planificación, programación, asignación de recursos, ejecución, seguimiento y entrega de proyectos de
            software y web.

            La gestión de proyectos en ingeniería de software difiere de la gestión de proyectos tradicional en que los
            proyectos de software tienen un proceso de ciclo de vida único que requiere varias rondas de pruebas,
            actualizaciones y comentarios de los clientes. La mayoría de los proyectos relacionados con TI se gestionan
            al estilo Agile, para seguir el ritmo cada vez más rápido del negocio e iterar en función de los comentarios
            de los clientes y las partes interesadas.
        </p>
    </section>
</main> -->

<div class="card">
    <div class="card-header">
        <h1 class="card-title">¿En que consiste el proyecto?</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <img src="https://cdn.aicad.es/asset/img/2/las-10-mejores-herramientas-para-la-gestion-de-proyectos-online.jpg"
                    alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h5 class="card-title">Sistema de Informacion para la gestion de proyectos de software en el grupo de
                    investigacion METIS</h5>
                <p class="card-text">
                    El proyecto consiste en el desarrollo de un sistema de información para la gestión de proyectos de
                    software,
                    orientado a apoyar la administración y el seguimiento del ciclo de vida de los proyectos
                    desarrollados en el
                    grupo de investigación universitario METIS. Este sistema permitirá al director del grupo contar con
                    un
                    control centralizado de todos los proyectos bajo su responsabilidad, facilitando la supervisión del
                    avance,
                    el estado de las actividades y la toma de decisiones. Asimismo, los estudiantes integrantes del
                    grupo podrán
                    registrar, organizar y gestionar las tareas asignadas, reportar avances y mantener un historial
                    actualizado
                    de las actividades realizadas, contribuyendo a una mejor planificación, control y trazabilidad de
                    los
                    proyectos de software.
                </p>
            </div>
        </div>

    </div>

{% endblock %}